.container {
  display: grid;
  grid-template-columns: 1fr 8.1fr 1fr; /* 1/5 and 4/5 fractions */
}

.sidebar {
  padding: 20px;
  background-color: #f0f0f0;
  /* You can add additional styles for the sidebar here */
  width: 150px;
}
.sidebar button {
  margin: 10px;
  width: 100px;
  margin-left: 23px;
}
.main {
  display: flex;
  flex-direction: column;
}
.dash {
  background-color: #f0f0f0;
}
.filters {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: #f0f0f0;
}
.filters select {
  margin: 10px;
  width: 150px;
  /* center button */
    margin-left: auto;
    margin-right: auto;

}
/* for first h1 tag */
h1:first-of-type {
  text-align: center;
  background-color: white;
    padding: 15px;
}
h1,h3 {
  text-align: center;
}
.charts{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}
